@import url("../../assets/scss/flexboxgrid.min.css");
@import url("../../assets/scss/main.scss");

@mixin breakpoint($breakpoint){
	@media screen and (max-width: $breakpoint) {
		@content
	}
}

@mixin img-container {
    display: flex;
    justify-content: flex-end;
    height: auto;
}

@mixin img {
    border-radius: 3rem;
    max-width: 90%;
    align-self: flex-start;
}

@include breakpoint(981px){
    .col-sm-12 {
        grid-column: span 12;
    }
}


.hero {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4rem;
	@include breakpoint(600px){
		padding: 4rem 2rem;
	}
}

.pricing-section1 {
    margin-top: 1rem;
    text-align: center;
    h1 {
        margin-bottom: 3rem;
    }
    @include breakpoint(981px){
        padding-top: 0 !important;
    }
}

.pricing-section2 {
    h1 {
        margin: 1rem 0;
    }
    p {
        width: 80%;
    }
    .img-container {
        @include img-container();
        justify-content: flex-start;
        img {
            @include img();
        }
    }
    .content-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    min-height: 40rem;
    @include breakpoint(981px){
        text-align: center;
        p {
            width: 100%;
        }
        .img-container {
            justify-content: center;
            margin-bottom: 3rem;
        }
    }
}