@mixin breakpoint($breakpoint){
	@media screen and (max-width: $breakpoint) {
		@content
	}
}


.blogPage-content {
    padding: 5rem 2rem 0;
    @include breakpoint(981px) {
        padding: 0 2rem;
    }
    @include breakpoint(350px) {
        padding: 0 1rem;
    }
 
}

.blogPagepostbody {
    img {
        // max-width: 100%;
        width: 100%;
        // margin: 2.5rem 0;
    }
    h1,h2,h3,h4,h5,h6 {
        color: #4A3E7C;
    }
    p {
        margin: 3rem 0;
    }   
    img {
        // max-width: 100%;
        width: 100%;
        // margin: 2.5rem 0;
    }
    h1 {
        margin-bottom: 3.25rem;
    }
    h1,h2,h3,h4,h5,h6 {
        color: #4A3E7C;
    }
    p {
        margin: 3rem 0;
    }
    ul,ol {
        margin: 3rem 0;
    }
}