@mixin breakpoint($breakpoint){
	@media screen and (max-width: $breakpoint) {
		@content
	}
}

.footer {
	text-align: center;
	padding: 3rem 0;
	h3 {
		color: #293D4C;
		margin-bottom: 1.375rem;
	}
	ul {
		width: 70%;
		list-style: none;
		display: flex;
		flex-direction: row;
        justify-content: space-between;
		min-height: 35px;
		img {
			max-width: 35px;
		}
    }
    ul.about {
        padding: 0;
		align-items: center;
		justify-content: center;
		li {
			padding: 0 1rem;
		}
    }
	.social {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
        margin-left: 2rem;
        p {
            flex-basis: 40%;
            min-height: 37px;
            display: flex;
            align-items: center;
        }
	}
	@include breakpoint(980px) {
		.col-4 {
			width: 70%;
			margin: 0 auto;
		}
		h3 {
			margin-bottom: 0.375rem;
		}
		ul {
			width: 70%;
			padding: 0;
			margin: 1rem auto;
			max-width: 25rem;
		}
		.about {
			font-weight: bold;
		}
		.social {
			display: flex;
			flex-direction: column;
			align-items: center;
			p {
				align-self: center;
			}
		}
		ul.follow {
			padding: 0;
			margin: 1rem 0 auto;
			display: flex;
			justify-content: center;
			li {
				padding: 0 1rem;
			}
		}
		.grid-wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			min-height: 30vh;
			.mobile-order-1 {
				order: -1;
			}
		}
	}
}