@mixin breakpoint($breakpoint){
	@media screen and (max-width: $breakpoint) {
		@content
	}
}

nav {
	height: 6.725rem;
	position: fixed;
	width: 100%;
	z-index: 10;
	transition: 500ms ease-in-out;
	top: 0;
	min-width: 10rem;
	@include breakpoint(600px) {
		max-width: 100vw;
	}
	.inner>a {
		margin: 0;
		padding: 0;
		font-size: 0;
		height: 22px;
	}
	.nav {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		width: 85%;
		margin: 0 auto;
		align-items: center;
		height: 100%;
		z-index: 10;
		ul {
			list-style: none;
			display: flex;
			flex-direction: row;
			flex-basis: 45%;
			justify-content: space-between;
		}
		h3 {
			font-weight: bold;
			color: #693FAD;
			margin-bottom: 0;
		}
	}
}

nav.mobile-nav {
	position: fixed;
	transition: 500ms ease-in-out;
	z-index: 10;
	height: 3.725rem;
	top: 0;
	.main {
		background-color: #693FAD;
		box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: row;
		padding: 0 1.5rem;
		height: 3.725rem;
		z-index: 10;
		position: relative;
		a {
			height: 17px;
			max-height: auto !important;
		}
	}
	.hidden {
		position: absolute;
		background-color: #693FAD;
		height: 100vh;
		width: 100%;
		display: flex;
		flex-direction: column;
		padding-bottom: 4rem;
		top: -100vh;
		opacity: 0;
		z-index: 9;
		transition: 500ms ease-in-out;
		ul, li, p {
			padding: 0;
		}
		ul, p {
			margin-left: 1.5rem;
		}
		ul {
			list-style: none;
			padding: 0;
			padding: 2rem 0;
			h3 {
				font-size: 1.875rem;
				color: #FFFFFF;
			}
			h3 a {
				font-size: 1.875rem;
				font-weight: normal;
			}
			&::after {
				content: '';
				height: 2px;
				background-color: #EBEBEB;
				position: relative;
				display: block;
				width: 10rem;
			}
		}
		p.blog {
			color: #FFFFFF;
			flex-grow: 1;
		}
		p.copyright {
			color: #EBEBEB;
		}
		button {
			margin: 0 auto 1.75rem;
		}
	}
	.visible {
		top: 100%;
		height: 100vh;
		opacity: 1;
		z-index: 9;
	}
}

nav.colored {
	background: #ffffff;
	box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
	height: 4rem; 
	z-index: 10;
}

.dummy-nav {
	position: relative;
	height: 6.725rem;
	// height: 5rem;
	// height: 0;
	width: 100%;
}
