@mixin breakpoint($breakpoint){
	@media screen and (max-width: $breakpoint) {
		@content
	}
}

@mixin img-container {
    display: flex;
    justify-content: flex-end;
    height: auto;
}

@mixin img {
    border-radius: 3rem;
    max-width: 90%;
    align-self: flex-start;
}

@include breakpoint(981px){
    .col-sm-12 {
        grid-column: span 12;
    }
}

p {
    line-height: 27px;
}


.hero {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4rem;
	@include breakpoint(600px){
		padding: 4rem 2rem;
	}
}

.contact-section1 {
    text-align: center;
    margin-bottom: 0;
    h1 {
        margin-bottom: 3rem;
        font-weight: bold;
        @include breakpoint(981px) {
            margin-bottom: 1rem;
        }
    }
    p {
        width: 60%;
        font-weight: normal;
        margin: 0 auto;
        @include breakpoint(981px) {
            width: 100%;
        }
    }
    @include breakpoint(981px) {
        padding-top: 0 !important;
        margin-bottom: 0;
    }
}

.contact-section2 {
    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h1 {
        margin-bottom: 3rem;
    }
    p {
        width: 80%;
        @include breakpoint(981px) {
            width: 100%;
            margin-bottom: 2rem;
        }
    }
}

form {
    margin-bottom: 0;
    input, select, textarea {
        margin-bottom: 1.25rem;
        // border-radius: 5px;
    }
    label {
        margin-bottom: 0.625rem;
        font-weight: 500;
        font-size: 1.125rem;
    }
    button {
        margin-top: 3rem;
        min-width: 14.6875rem;
    }
    input:active {
        border: 1px solid #7336FF;
    }
    input.input, select.input {
        height: 4rem;
    }
}

input.input {
    border-radius: 5px;
    &:active {
        border: 1px solid #7336FF;
    }
    &:focus {
        border: 1px solid #7336FF;
    }
}

select.input, textarea.input {
    border-radius: 5px;
    &:active {
        border: 1px solid #7336FF;
    }
    &:focus {
        border: 1px solid #7336FF;
    }
}


select>option {
    padding: 1rem;
}

.select {
    position: relative;
}

.select::before {
    content: url('../../assets/images/chevron-down.svg');
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
}

button {
    padding: 0 3rem;
    min-width: 14rem;
    background-color: #693FAD;
    border: 2px solid #693FAD;
    border-radius: 5rem;
    color: #ffffff;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
    font-size: 1.125rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms ease-in-out;
    text-transform: capitalize;
    font-weight: bold;
    @media screen and (max-width: 360px){
        font-size: 0.85rem;
        height: 3rem;
    }
    &:hover{
        box-shadow: none;
    }
    &:active{
        border: 2px solid #693FAD;
        color: #693FAD;
    }
}

select {
    background-color: #FFFFFF;
    option {
        &:invalid {
            background-color: #ffffff;
        }
        [disabled] {
            background-color: #ffffff;
        }
    }
    &:invalid {
        background-color: #FFFFFF;
    }

    [disabled] {
        background-color: #ffffff;
    }
}